.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #fdf7f5;
    font-family: 'Segoe UI', sans-serif;
    flex-wrap: wrap;
    position: relative; 
    gap: 3rem;
  }
  
  .promo-image {
    flex: 0 0 auto;
    width: 400px;       
    height: 400px;     
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
  } 
  
  .promo-image img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: 38%;
  }
  
  .promo-text {
    max-width: 600px;
    margin-left: 50px;
  }
  
  .promo-text h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #222;
    margin-bottom: 0.2rem;
  }
  
  .promo-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 1.2rem;
  }
  
  .promo-text p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .promo-info {
    margin-bottom: 1.5rem;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #444;
  }
  
  .icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  
  .promo-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn.dark {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #1e1e1e;
  }
  
  .btn.dark:hover {
    background-color:  #fff;
    color: #1e1e1e;
  }
  
  .btn.light {
    background-color: transparent;
    color: #1e1e1e;
    border: 1px solid #1e1e1e;
  }
  
  .btn.light:hover {
    background-color: #1e1e1e;
    color: #fff;
  }

  .plant-image {
    position: absolute;
    bottom: -40px;
    right: -40px;
    margin: 10px;
    width: 320px;
    opacity: 0.2;
    pointer-events: none;
  }
  
  .plant-image img {
    width: 100%;
    
    height: auto;
  }

  .beans-image {
    position: absolute;
    top: -10px;
    left: -10px;
    margin: 10px;
    width: 120px;
    opacity: 0.1;
    pointer-events: none;
  }
  
  .beans-image img {
    width: 100%;
   
    height: auto;
  }