 
.testi-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 100px 100px;
  background: #fdf7f5;
  overflow: hidden;
  width: 100vw;
  max-width: 100vw;
  font-family: "Segoe UI", sans-serif;
}
 
.testi-img-wrapper {
  flex: 0 0 330px;
  width: 330px;
  height: 365px;
  overflow: hidden;
  border-radius: 5px;
  object-position: 0%;
}
.testi-img-wrapper img {
  height: 100%;
  object-fit: cover;
}
 
.testi-text {
  text-align: center;
  position: relative;
}
.testi-text .quote-mark {
  color: #b08968;
  font-size: 48px;
  display: block;
  margin-bottom: 30px;
  line-height: 1;
}
.testi-text p {
  font-size: 24px;
  line-height: 1.6;
  color: #222;
  margin-bottom: 40px;
}
.testi-text h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}
.testi-text .role {
  color: #777;
  font-size: 15px;
}
 
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 58px;
  height: 58px;
  border: none;
  background: #fdf7f5;      
  cursor: pointer;
  transition: background 0.25s ease, border-color 0.25s ease;

}
.arrow::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-top: 3px solid #bdbdbd;
  border-right: 3px solid #bdbdbd;
  transform: rotate(45deg);
  transition: border-color 0.25s ease;
}
.arrow.left { left: 0;}
.arrow.right { right: 10px; }
.arrow.left::before { transform: rotate(-135deg); }

.arrow:hover::before { border-color: #0c0c0c; }

 @media (max-width: 900px) {
  .testi-section { flex-direction: column; gap: 40px; }
  .arrow { top: auto; bottom: 40px; transform: none; }
  .arrow.left { left: calc(50% - 80px); }
  .arrow.right { right: calc(50% - 80px); }
  .testi-text p { font-size: 20px; }
} 


.plant-image {
  position: absolute;
  bottom: -10px;
  right: -10px;
  margin: 10px;
  width: 300px;
  opacity: 0.2; 
  pointer-events: none; 
}

.plant-image img {
  width: 100%;
  height: 100%;
  height: auto;
}