.menu-section {
  text-align: center;
  padding: 50px 20px;

}

.menu-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.menu-section p {
  color: #a1887f;
  margin-bottom: 40px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-card {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #f1f1f1;
  padding: 15px 25px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
}
  
.menu-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
  transition: left 0.5s ease;
  z-index: 0;
}

.menu-card:hover::before {
  left: 0;
}


.menu-image,
.menu-name,
.menu-price {
  position: relative;
  z-index: 1;
}

  
.menu-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.menu-name {
  flex: 1;
  font-size: 18px;
  color: #333;
  text-align: left;
}

.menu-price {
  font-weight: bold;
  color: #b08968;
  font-size: 18px;
}